certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.7
keyboard==0.13.5
Nuitka==2.2.1
ordered-set==4.1.0
psutil==5.9.8
pycryptodome==3.20.0
pycryptodome-test-vectors==1.0.14
pycryptodomex==3.20.0
PyGetWindow==0.0.9
pynput==1.7.6
pypiwin32==223
PyRect==0.2.0
pyTelegramBotAPI==4.17.0
pyutil==3.3.6
pywin32==306
requests==2.31.0
six==1.16.0
urllib3==2.2.1
zipfile36==0.1.3
zstandard==0.22.0
